{% extends "base.html" %}
{% block title %}Smart Finance{% endblock %}
{% block content %}
<div class="container py-5"> 
<h1>Добро пожаловать в блог "Smart Finance: Умные Финансы"!</h1>
<p>
  Здесь вы найдете увлекательные и информативные статьи о финансах, 
  предназначенные для всех, кто стремится лучше разбираться в своих денежных делах. 
  Наш блог призван помочь вам научиться умному управлению финансами, принимать обдуманные 
  решения и достигать финансовой стабильности.
  <br>
  <a href="https://github.com/Ruzal-Z" target="_blank">Автор: GitHub</a> 
</p>
</div>
{% endblock %} 