{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container py-3"> 
  <div class="row">
    <h1></h1>
    {% comment %}
      Боковой блок со списком технологий 
      Займет всю ширину блока на мобильном
      и 25% при размерах экрана ≥768px
    {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          GitHub
        </li>
        <li class="list-group-item">
        Bootstrap
        </li>
        </li>
        <li class="list-group-item">
          CSS
        </li>
        </li>
        <li class="list-group-item">
          HTML
        </li>
      </ul>
    </aside>
    {% comment %}
      Статья  
      Займет всю ширину блока на мобильном
      и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <p><b>Python</b> — высокоуровневый язык программирования общего назначения с 
        динамической строгой типизацией и автоматическим управлением памятью,
         ориентированный на повышение производительности разработчика, 
         читаемости кода и его качества, а также на обеспечение переносимости
          написанных на нём программ.</p>
      <p><b>Django</b> — свободный фреймворк для веб-приложений на языке Python, 
        использующий шаблон проектирования MVC. Проект поддерживается 
        организацией Django Software Foundation. Сайт на Django строится 
        из одного или нескольких приложений, которые рекомендуется делать 
        отчуждаемыми и подключаемыми.</p>
      <p><b>Git</b> — распределённая система управления версиями. Проект был создан
         Линусом Торвальдсом для управления разработкой ядра Linux, первая 
         версия выпущена 7 апреля 2005 года. На сегодняшний день его 
         поддерживает Джунио Хамано.</p>
      <p><b>GitHub</b> — крупнейший веб-сервис для хостинга IT-проектов и их 
        совместной разработки. Веб-сервис основан на системе контроля версий 
        Git и разработан на Ruby on Rails и Erlang компанией GitHub, Inc.</p> 
      <p><b>Bootstrap</b> — свободный набор инструментов для создания сайтов 
        и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для 
        типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов 
        веб-интерфейса, включая JavaScript-расширения.</p>  
      <p><b>CSS</b> — формальный язык описания внешнего вида документа, написанного 
        с использованием языка разметки. Также может применяться к любым 
        XML-документам, например, к SVG или XUL.</p>
      <p><b>HTML</b> — стандартизированный язык гипертекстовой разметки документов
         для просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ 
         от сервера по протоколам HTTP/HTTPS или открывают с локального диска, 
         далее интерпретируют код в интерфейс, который будет отображаться на 
         экране монитора.</p> 
    </article>
  </div>
</div>  
{% endblock %} 